.list_ingredients {

  border-top: 2px solid #2b2b2b;
  padding-left: 0;
  padding-right: 0;

  .header{
    background-color: #313335;
    text-align: center;
    color: #7a7a00;
    padding: 10px;
  }

  .col-ingredient {
    padding-left: 0;
    padding-right: 0;
  }

  table {
    width: 100%;
    border: 1px solid #2b2b2b;


    th {
      font-size: .9em;
      font-weight: normal;
      background-color: #2b2b2b;
    }

    thead th:nth-child(1),tbody td:nth-child(5){
      width: 50px;
    }

    thead th:nth-child(2),tbody td:nth-child(2){
      width: 50px;
      text-align: center;
    }
    thead th:nth-child(4),tbody td:nth-child(4){
      width: 300px;
    }
  }

  tbody {

    color: #c8c8c8;
    font-size: 0.9em;
  }

}